{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to url shortner</title>
    <link rel = "stylesheet" href ={% static "app/css/bootstrap.css"%}>
    <body>

  <div class="container">
        <a href="{% url 'index_view'%}">Home</a>
        <a href= "{% url 'sign_up_view' %}">Register a new account</a>
        <a href="{%url 'login'%}">Login to your account</a>
        <a href="{%url 'logout_view'%}?next=/">Logout</a>
        <a href="{%url 'new_template_view'%}?next=/">Starting Point</a>
        <a href="{%url 'create_bookmark_view'%}?next=/">Save a Bookmark</a>
        <a href="{%url 'click_list_view'%}?next=/">Your Clicks</a>
        <a href="{%url 'my_bookmark_view'%}?next=/">Your Bookmarks</a>

  </div>

  {% block content %}

  {% endblock %}









    </body>













</html></html>
